.cardcontainer{
    display: flex;
    justify-content: space-evenly;
    margin: 80px 0px;
   
}
.card-title{
    font-size: 50px;
}
.good{
    color: green;
    font-size: 50px;
    font-weight: 800;
}
.bad{
    color: red;
    font-size: 50px;
    font-weight: 800;
}